* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(20, 17, 22);
  height: 100vh;
}

div > div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}



.display {
  background-color: white;
  margin-bottom: 1em;
  width: 500px;
  height: 50px;
  font-size: 3em;
}

span {
  font-size: 3em;
  color: white;
}
