* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



#div-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 0; */
}

#div-input > * {
  margin-bottom: 1em;
}